.home{
    display:flex;
    width: 90%;
    margin: auto;
    .grid-container{
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;

        .grid-item img{
            width: 100%;
            height: 300px;
            cursor: pointer;
            transition: all .25s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
@media (max-width: 700px) {
    .home{
        .grid-container{
            display: block;
            .grid-item img {
                margin: .5rem;
                &:hover{
                    transform: none;
                }
            }
        }
    }
}